*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


h1{
    color: brown;
}


body{
    background-image: url(warfield.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}

.a{
    background-image: url(AK-47.png);
    background-repeat: no-repeat;
    background-size: 400px;
    position: absolute;
    right: 500px;

}

.t{
    background-image: url(colt.png);
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    right: 490px;
    top: 500px;

}

.b{
    background-image: url(Barrett-M8.png);
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    left: 100px;
    top: 300px;
}

.m{
    background-image: url(machinegun.png);
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    left: 800px;
    top: 300px;
}

.z{
    background-image: url(bazooka.png);
    background-repeat: no-repeat;
    background-size: 200px;
    position: absolute;
    left: 800px;
    background-size: 250px;

}



.c{
    background-image: url(carbine.png);
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    left: 800px;
    top: 500px;
    background-size: 400px;
}


.gun{
    width: 700px;
    height: 300px;
    background-color: transparent;
    border: 0;
}

button{
    color: transparent;
}

.pressed {
    box-shadow: 0px 8px 8px 0px #704c04;
    opacity: 0.5;
}

.content{
    display: inline-block;
}